@font-face {font-family:larimar; src:url(font/larimar-webfont.woff);}
.logo {padding-top:19px; padding-left:20px; padding-right:20px;}
.header_font_size {font-size:19px;}
#small_logo {margin-bottom:13px;}
#larimar {font-family:larimar;}
#lato_regular {font-family:'Lato';}
#lato_bold {font-family:'Lato'; font-weight:bold;}
#lato_black {font-family:'Lato'; font-weight:black;}
.slide_title_align {line-height:55px;}
.header_b {font-size:20px; line-height:31px;}
.header_b_sub_title {font-size:19px;}
.slide_bottom_title {font-size:23px;}
#medium_dish_03 {margin-left: 28px;}
.data_filters_menu {font-size:21px;}
#tm-bottom-e {padding-top:65px; padding-bottom:65px;}
.header_a_sub_title {font-size:16px;}
.about_sub_title {font-size:18px;}
.philosophy_title {font-size:23px;}
#japanese {margin-top:-5px;}
#our_staff_margin {margin-bottom:120px;}
.staffs_subtitle {font-size:21px;}
.staff_txt {font-size:17px;}
.img_size {display:inline-block; width:50px; height:70px;}
.img_size_02 {display:inline-block; width:60px; height:70px;}
.img_size_03 {display:inline-block; width:40px; height:70px;}